#purp {
    height: 50vh;

}

.thirdy {
    width:33%;
    padding: 2%;

    display: inline-block;
    vertical-align: top;

    text-align: center;

    border-radius: 20px;
    height: 100%;

    overflow: hidden;

    position: relative;
}

.imgy {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

    background-color: white;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2vh;
}

h3 {
    font-weight: bolder;
}

#what-bg {
    background-color: palegreen;
}
#why-bg {
    background-color: paleturquoise;
}
#how-bg {
    background-color: palevioletred;
}

#what{
    background-image: url("../Assets/concept-icon.png");
}
#why{
    background-image: url("../Assets/collaborate-icon.png");
}
#how{
    background-image: url("../Assets/pound-icon-gold.jpeg");
}

.sale {
    background-color: red;

    transform: rotate(45deg);
    position: absolute;
    height: 20vh;
    width: 40vh;
    right: -15vh;
    top: -5vh;
    overflow: hidden;

    color: white;
    font-weight: bold;
    font-size: 4vh;

}
#sale {
    padding-top: 10vh;
}




#bundle-banner {
    border: solid;
    border-color: slategrey;
    border-radius: 20px;
    overflow: hidden;

    background-image: url("../Assets/crossland _ logo 01 black.png");
    background-position: 60% 10%;
    background-repeat: no-repeat;
    background-size: 60%;
}
#bundle-content{
    height: 20vh;
    width: 80%;
    display: inline-block;
    padding: 1%;
}
#bundle-price {
    height: 20vh;
    width: 19%;
    background-color: lightgrey;
    display: inline-block;
    float: right;
    border-left: solid;
    border-color: slategrey;
    padding: 1%;
    text-align: center;
    padding-top: 7vh;
}


td {
    border: 1px solid black;
}
.outer {
    width:30%;

}
.inner {
    width: 40%;
    background-image: url("../Assets/chip.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#stepOne {
    background-image: url("../Assets/brain-loading-stock-vector-loading-brain-icon-progress-loading-bar-of-wisdom-brain-boost-symbol-knowledge-is-power-concept-1990470602.jpeg");
    background-position: center -10vh;
    background-repeat: no-repeat;
    background-size: cover;

    height: 35vh;
}

.brainy {
    width: 25%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    position: relative;
    display: inline-block;
}

#oney {
    left: 10vw;
}

#twoy {
    left: 20vw;
}

#threey {
    top: 15vh;
    left: 15vw;
}

#foury {
    top: 15vh;
    left: 35vw;
}

#drafty {
    width:100%;
    height:30vh;
    background-image: url("../Assets/write-pen-stock-vector-graphic-pencil-with-curly-lines-symbolizes-creativity-vector-logo-illustration-1494030656.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}