
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    /*background-color: #fff;*/
    background-image: url("../Assets/crossland_FB_cover_03.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    overflow: hidden;

}
@media (min-width: 768px) {
    .jumbotron {

        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    color: white;
}

.jumbotron .container {
    max-width: 40rem;
}

.text-muted {
    color: white !important;
}

.carousel-item {
    height: 60vh;
}
.carousel-item h1 {
    text-align: center;
}
.carousel-item p {
    text-align: center;
}

/*Slide 0 - Crossland Tehcnologies*/
#slide-0 {
    padding-top: 5vh;
    background-image: url("../Assets/crossland_FB_cover_03.png");
    background-size: cover;
    background-position: right;
}


/*Slide 1 - It Ain't All Robots*/
#slide-1 {
    background-image: url("../Assets/3D_Conveyor.png"), linear-gradient(to bottom, white, dimgrey 50%, white);
    background-size: 50%, cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*Slide 2 - Starry Background (will be like cover)*/
#slide-2 {
    background-image: url("../Assets/StarryBackground.png");
}


/*Slide 3 - Potential Background/Slide*/
#slide-3 {
    background-image: url("../Assets/stock-photo-industrial-internet-of-things-disruption-technology-and-industry-concept-double-exposure-of-622847108.jpeg");
}
#idea {
    background-image: url("../Assets/Lightbulb.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right center;
    background-size: auto 90%;
}

/*Side 4 - What We Offer */
#slide-4 {
    background-image: url("../Assets/chip.png"), linear-gradient(to right, #6699CC, transparent);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right center, center;
    background-size: contain;
}
#slide-4 p {
    text-align: left;
    padding-left: 10%;
}


#allrobots{
    background-image: url("../Assets/3D_Conveyor.png"), linear-gradient(to bottom, white, dimgrey 50%, white);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right bottom;
    background-size: 90%, 100%;

    height: 60vh;
}

#roboticarm {
    background-image: url("../Assets/robotic-arm.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right bottom;
    background-size: 90%;
}

#Offer {
    background-image: linear-gradient(to right, #6699CC, transparent);
}

#chipbrain {
    background-image: url("../Assets/chip.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: contain;
}


#large {
    height: 100vh;
    background: #f8f9fa;
    background-image: url("../Assets/portrait_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    position: relative;
}

.service-box {
    /*height: 20vh;*/
    /*background: #0d6efd;*/
    width: 30%;
    position: absolute;
    /*padding: 5%;*/

    border-style: solid;
    border-color: #06357a;
    border-radius: 5%;
}

.service-box p {
    font-size: 1.5vw;
}

#software {
    top: 5vh;
}

#artwork {
    top: 40vh;
}

#hardware {
    bottom: 5vh;
}

#concept {
    top: 20vh;
    right: 0;
}

#design {
    bottom: 20vh;
    right: 0;
}



footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }