
.Road-Map-Container{
    height: 500px;
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
}


#starthere{
    /*background-image: linear-gradient(to bottom, #003B6D, #003B6D 50%, transparent 90%);*/
    background-image: repeating-linear-gradient(to bottom, white, blue 10%, white 20%, green 30%, white 40%, red 50%, white 60%);
    /*background-image: url("../Assets/stock-photo-industrial-internet-of-things-disruption-technology-and-industry-concept-double-exposure-of-622847108.jpeg");*/
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: contain;

    /*height: 400vh;*/
}

.Road-Map {
    width:  66%;
    height: 500px;
    background-image: url("../Assets/RoadMap.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: contain;

    float: left;
}
.Road-Map-Description {
    width: 33%;
    float: right;
}

/*div {*/
/*    border: solid;*/
/*}*/

a:hover{
    /*TODO - needs to be some sort of prompt to show that the images are clickable and more information is available.*/
}

.colly {
    display: inline-block;
    overflow: hidden;
    margin: auto;
}
.quarter {
    width: 24.5%;
}
.third {
    width: 33%;
}
.half {
    width: 49%;
}
.myrow {
    height: 30vh;
    width: 100%;
    display: flex;
}
.below {
    text-align: center;
}


.icony {
    width: 10vw;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vw;
    margin: auto;
}

#lightbulb {
    background-image: url("../Assets/Lightbulb.png");
}

#concept {
    background-image: url("../Assets/concept.png");
}
#collaborate {
    background-image: url("../Assets/Handshake.png");
}
#design{
    background-image: url("../Assets/Design.png");
}
#software{
    background-image: url("../Assets/Develop.png");
}
#electrical{
    background-image: url("../Assets/lightning.png");
}
#mechanical{
    background-image: url("../Assets/Toolbag.png");
}
#assemble{
    background-image: url("../Assets/assemble.png");
}
#full-size{
    background-image: url("../Assets/full-size.png");
}
#prototype{
    background-image: url("../Assets/prototype.png");
}
#launch{
    background-image: url("../Assets/Rocket.png");
}
#debug {
    background-image: url("../Assets/Debug.png");
}
#optimise{
    background-image: url("../Assets/Optimise.png");
}